body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

/*---------------------------FORM---------------------------------*/
 form td{
	text-align: right;
	margin-left:50px;
}
table .buttons{
	text-align: left;
	margin-top:	20px;
}
.errorHeader{
	display: inline-block;
	color:#D63301;
	background-color: #FFCCBA;
	background-image: url('/resources/images/icons/warning.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	width: 300px;
	min-height: 50px;
	text-align:left;
	padding-left: 75px;
	
}
.errorText, .errorTextArea{
	background: #FFBDBD;
	border-color: Red;
	border-width: 1px;
	padding: 1px;
}


/*---------------------------BUTTONS---------------------------------*/
.submitButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:14px;
	-moz-border-radius-topleft:14px;
	border-top-left-radius:14px;
	-webkit-border-top-right-radius:14px;
	-moz-border-radius-topright:14px;
	border-top-right-radius:14px;
	-webkit-border-bottom-right-radius:14px;
	-moz-border-radius-bottomright:14px;
	border-bottom-right-radius:14px;
	-webkit-border-bottom-left-radius:14px;
	-moz-border-radius-bottomleft:14px;
	border-bottom-left-radius:14px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}
.submitButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}.submitButton:active {
	position:relative;
	top:1px;
}
/*---------------------------PAGE ACTIONS---------------------------------*/
.pageActions{
	margin-left:50px;
}

.pageAction {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:14px;
	-moz-border-radius-topleft:14px;
	border-top-left-radius:14px;
	-webkit-border-top-right-radius:14px;
	-moz-border-radius-topright:14px;
	border-top-right-radius:14px;
	-webkit-border-bottom-right-radius:14px;
	-moz-border-radius-bottomright:14px;
	border-bottom-right-radius:14px;
	-webkit-border-bottom-left-radius:14px;
	-moz-border-radius-bottomleft:14px;
	border-bottom-left-radius:14px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
}
.pageAction:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}.pageActionn:active {
	position:relative;
	top:1px;
}
/*---------------------------MESSAGE BOX---------------------------------*/
#successMessageBox, #errorMessageBox{
	top:0;
	right:0;
	position: absolute;
	width: 100%;
	text-align:center;
	display:none;
}
#successMessageBoxInner{
	width: 300px;
	height: 60px;
	background-color: rgb(188, 236, 188);
	display: inline-block;
	background-image: url('/resources/images/icons/ok.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	color: rgb(45, 162, 45);
	font-size: 1.2em;
	border: 1px solid rgb(45, 162, 45);
	font-family: "Lucida Grande";
	border-radius: 6px;
			
}
#successMessageBoxInner, errorMessageBoxInner h4{
	margin-left: 25px;
	font-weight: lighter;
}
#errorMessageBoxInner{
	width: 300px;
	background-color: rgb(236, 191, 191);
	display: inline-block;
	background-image: url('/resources/images/icons/error.png');
	background-repeat: no-repeat;
	background-position: 10px center;
	color: rgb(201, 11, 11);
	font-size: 1.2em;
	border: 1px solid rgb(226, 59, 59);
	font-family: "Lucida Grande";
	border-radius: 6px;
}
#errorMessageBoxInner, #successMessageBoxInner h4{
	margin-left: 35px;
}
