#layout{
	
}

#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#footer{
	text-align: center;
	margin-top:	100px;
	text-transform: uppercase;
}

.center_content {
    position: relative;
    padding: 5px;
    /*background: url('/resources/images/website_bg.gif');*/
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#top h2{
	display: inline;
}

